BasedOnStyle: LLVM
NamespaceIndentation: All
IndentAccessModifiers: true
UseTab: AlignWithSpaces
TabWidth: 2
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false